body {
  background-color: #f0f2f5;
}

.container {
  max-width: 500px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  text-decoration: line-through;
  color: #aaa;
}
